/node_modules
/public/hot
/public/js
/public/css
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
/.idea
/.vscode

/!!!BACKUP/*
/.git/*
/bootstrap/cache/*
/storage/*
composer.lock
package-lock.json

temp.vue
temp1.php
temp2.php
